
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
.up{
    up:0;
    height: 20%;
}
.right{
    rigth: 0;
    width:20%;
    background: red;
}
.left{
    left: 0;
    width:50%;
    background: black;
}
.centered{
    border-radius: 10%;
    position: absolute;
    height: 80%;
}
body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}
